<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Zeroit.Framework.Button" version="1.0.0" targetFramework="net461" />
  <package id="Zeroit.Framework.Form" version="1.0.0" targetFramework="net461" />
  <package id="Zeroit.Framework.Gauges" version="1.0.0" targetFramework="net461" />
  <package id="Zeroit.Framework.LollipopControls" version="1.0.0" targetFramework="net461" />
  <package id="Zeroit.Framework.MaterialWinforms" version="1.0.0" targetFramework="net461" />
  <package id="Zeroit.Framework.Metro" version="1.0.0" targetFramework="net461" />
  <package id="Zeroit.Framework.PictureBox" version="1.0.0" targetFramework="net461" />
  <package id="Zeroit.Framework.Progress" version="1.0.0" targetFramework="net461" />
</packages>